* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: #eee;
  padding: 0;
  /* position: relative; */
  /* max-width: 140rem; */
  margin: auto;
}

::selection {
  background-color: rgba(93, 199, 248, 0.394);
}

.container {
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 5rem;
}

.contact *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(135, 135, 135, 0.532);
}

.hero-cards *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(135, 135, 135, 0.532);
}

/* ******NAVIGATION****** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
}

.logo-header {
  height: 5.6rem;
  width: 16rem;
  margin-top: 1rem;
  margin-left: 1rem;
  /* LOGO HEIGHT IS 35% OF LOGO WIDTH */
}

.main-nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  letter-spacing: 0.1rem;
  text-decoration: none;
  padding-right: 11rem;
  gap: 3rem;
  margin-right: 4rem;
}

#contact-btn {
  font-weight: 700;
  color: #333;
}

.main-nav-link {
  letter-spacing: 0.3rem;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.7rem;
  color: #333;
}

.main-nav-list:nth-child(4) {
  color: #eee;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-weight: 300;
  color: #333;
}

.nav-btn-contact {
  background-color: #d3f6c4;
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px 5px 1px rgba(35, 83, 106, 0.278);
  transition: all 0.3s;
}

.nav-btn-contact:hover {
  background-color: rgba(93, 199, 248, 0.256);
}

.nav-btn-contact:active {
  background-color: rgba(93, 199, 248, 0.662);
}

.background {
  /* max-width: 180rem; */
  height: 100vh;
  margin: 0 auto;
  background: url(img/rainbow-vortex-background.svg);
  /* padding-bottom: 20rem; */
  background-size: 100%;
  overflow: visible;
  background-repeat: no-repeat;
  z-index: -1;
}

.carousel-btn a {
  background-color: none;
  color: #333;
  border: 0.2rem solid #333;
  border-radius: 50%;
  display: inline-flex;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}

.carousel-btn {
  grid-column: 2;
  grid-row: 2;
  margin-top: 0.5rem;
  justify-self: center;
  align-self: center;
  position: absolute;
  top: 75rem;
}

/* ******HERO SECTION****** */

.hero-container {
  /* max-width: 140rem; */
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 7rem;
}

.hero-text-container {
  margin-bottom: 5rem;
}

.hero-title {
  text-align: center;
  line-height: 1.6;
  font-size: 4rem;
  margin-bottom: 10rem;
}

.and {
  font-weight: 400;
  font-style: italic;
  border-bottom: 4px solid #eee;
}

.hero-cards {
  justify-content: center;
  display: flex;
  gap: 5rem;
  grid-template-columns: 2;
  grid-template-rows: 2;
}

a {
  text-decoration: none;
}

.hero-card {
  background-color: #eee;
  color: white;
  box-shadow: 0px 5px 10px 2px #5a8448;
  font-size: 2rem;
  text-align: center;
  /* opacity: 70%; */
  border-radius: 3rem;
  overflow: hidden;
  height: 15rem;
  width: 15rem;
  cursor: pointer;
  transition: all 0.3s;
}

.hero-card:hover {
  transform: scale(110%);
  box-shadow: 0px 10px 18px 5px #5a8448;
}

.hero-icon {
  margin-top: 2.4rem;
  margin-bottom: 0.6rem;
  height: 5rem;
  width: 5rem;
  stroke: #333;
}

.card-title {
  font-size: 2rem;
  color: #333;
}

.btn-container {
}

.btn-main,
.btn-main:visited,
.btn-main:link {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem 1rem 1rem 1rem;
  font-weight: 300;
  border-radius: 9px;
  border: none;
  /* box-shadow: 2px 3px 8px #333; */
  /* border: 0.2rem solid #333; */
  cursor: pointer;
  font-family: inherit;
  height: 6rem;
  width: 16rem;
  transition: all 0.3s;

  gap: 1rem;
  justify-content: space-between;
}

/* .btn-contact {
  justify-self: center;
  align-self: flex-end;
  background-color: #71be5e;
  color: white;
} */

.btn-computers {
  justify-self: flex-start;
  align-self: flex-end;
  /* background-color: #71be5e31; */
}

.btn-surveillance {
  justify-self: flex-end;
  align-self: flex-end;
}

/* ******HOME SECURITY****** */

.section-heading {
  display: block;
  /* max-width: 140rem; */
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  /* color: rgb(131, 211, 255); */
  /* position: absolute; */
  /* top: 0; */
  /* left: 50%; */
  margin-bottom: 8rem;
}

.heading-icon {
  height: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
  stroke: #5a8448;
}

.section-home-security {
  /* max-width: 140rem; */
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  margin-bottom: 14rem;
  position: relative;
}

#home-security {
  margin-top: 8rem;
}

.home-security-text {
  width: 35%;
  height: auto;
  margin-left: 4rem;
}

.home-security-title {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.home-security-image-box {
  justify-self: center;
  align-self: center;
  width: 40vw;
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 2rem;
  /* position: relative; */
}

.home-security-paragraph {
  font-size: 1.8rem;
  line-height: 1.2;
}

.home-security-image {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

/* ******BUSINESS SURVEILLANCE****** */

.section-business-surveillance {
  /* max-width: 140rem; */
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  margin: 0 auto 14rem auto;
  position: relative;
}

.business-surveillance-text {
  width: 35%;
  height: auto;
  /* margin-left: 4rem; */
}

.business-surveillance-title {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.business-surveillance-paragraph {
  font-size: 1.8rem;
  line-height: 1.2;
}

.business-surveillance-image-box {
  justify-self: center;
  align-self: center;
  width: 40vw;
  height: 32vw;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 2rem;
  /* position: relative; */
}

.business-surveillance-image {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
}

.business-carousel-btn a {
  background-color: none;
  color: #333;
  border: 0.2rem solid #333;
  border-radius: 50%;
  display: inline-flex;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  cursor: pointer;
}

.business-carousel-btn {
  margin-top: 0.5rem;
  justify-self: center;
  align-self: center;
  position: absolute;
  top: 47rem;
  left: 33rem;
}

/* ------------------- */

.carousel {
  justify-self: center;
  align-self: center;
  width: 40vw;
  height: 32vw;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  height: 5rem;
  width: 5rem;
  top: 50%;
  z-index: 12;
  opacity: 0.5;
  transform: translateY(-50%);
  color: #eee;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.button-prev {
  left: 1rem;
}

.carousel-button.button-next {
  right: 1rem;
}

/* ******CUSTOM BUILDS****** */

.container-custom-builds {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: auto;
  overflow: hidden;
  margin-bottom: 14rem;
}

.custom-builds-text {
  margin: auto;
  display: block;
  width: 35%;
  height: auto;
}

.custom-builds-title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.custom-builds-paragraph {
  /* text-align: center; */
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 4rem;
}

.custom-builds-images {
  /* margin-top: 20rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.animated:nth-child(1) {
  width: 20%;
  height: 20%;
}

.animated:nth-child(2) {
  width: 23%;
  height: 23%;
}

.animated:nth-child(3) {
  width: 25%;
  height: 25%;
}

/* ******CYBER SECURITY****** */

.section-cyber-security {
  /* max-width: 140rem; */
  display: block;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 50rem; */
  /* padding-bottom: 4rem; */
  position: relative;
  background-color: #1a62164b;
}

.cyber-security-heading {
  background-color: #1a62164b;
  margin: 0;
  padding: 2rem 0 8rem 0;
}

.cyber-security-text {
  width: 70%;
  margin: auto;
  height: auto;
  display: block;
  height: auto;
}

.cyber-security-title {
  font-size: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  position: relative;
}

.cyber-security-paragraph {
  font-size: 1.8rem;
  line-height: 1.2;
  /* text-align: center; */
  margin-bottom: 8rem;
  position: relative;
}

/* .cyber-security-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #eee;
  z-index: 1;
  top: 27.3rem;
  right: 6.4rem;
}

.cyber-security-title::after {
  content: "";
  display: block;
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #eee;
  z-index: 1;
  top: 27.3rem;
  right: 25.5rem;
}

.cyber-security-paragraph::before {
  content: "";
  display: block;
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #eee;
  z-index: 1;
  top: 14.9rem;
  left: 6.3rem;
}

.cyber-security-paragraph::after {
  content: "";
  display: block;
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: rgba(93, 199, 248, 0.462);
  z-index: 1;
  top: 14.9rem;
  left: 25.2rem;
} */

.cyber-security-icon-container {
  margin: auto;
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 4rem;
  /* justify-content: space-around; */
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 12rem;
}

.cyber-security-icons {
  height: 5rem;
  width: 5rem;
  z-index: 10;
}

.computer-icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.folder-icon {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.wifi-icon {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
}

.credit-card-icon {
  margin-top: 0.4rem;
  grid-column: 4 / 4;
  grid-row: 1 / 1;
}

.icon-background {
  display: block;
  /* position: absolute; */
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #5a8448;
  z-index: 1;
}

.icon-bg-1 {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.icon-bg-2 {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.icon-bg-3 {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
}

.icon-bg-4 {
  grid-column: 4 / 4;
  grid-row: 1 / 1;
}

/* ******CONTACT****** */

.section-contact {
  display: block;
  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 14rem;
}

.contact {
  background-color: #eee;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
}

.contact-text-box {
  padding: 5rem 7rem 5rem 7rem;
  color: #333;
}

.contact-title {
  font-size: 4rem;
}

.contact .contact-title {
  color: #333;
  margin-bottom: 3.2rem;
}

.contact-text {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 4rem;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.description {
  grid-column: 1 / span 2;
}

.contact-form label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.contact-form input,
.contact-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-form input::placeholder {
  color: #aaa;
}

.contact-form label {
  font-size: 1.6rem;
}

textarea {
  width: 100%;
  height: 10rem;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-contact {
  background-color: white;
  border-radius: 2rem;
  font-family: inherit;
  color: #333;
  font-size: 2.4rem;
  padding: 1rem 0 1rem 0;
  grid-column: 1 / span 2;
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px 5px 1px rgba(35, 83, 106, 0.278);
  transition: all 0.3s;
}

.btn-contact:hover {
  background-color: rgba(93, 199, 248, 0.256);
}

.btn-contact:active {
  background-color: rgba(93, 199, 248, 0.662);
}

.form-category {
  display: none;
  visibility: hidden;
}

.active {
  display: block;
  visibility: visible;
}

/* ******FOOTER****** */

.footer-container {
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: space-around;
  border-top: 0.3rem solid #5a8448;
  padding: 0 12rem 2.4rem 12rem;
}

.footer-left-column {
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: space-between;
  justify-self: flex-start;
  margin-top: 1.4rem;
}

.footer-right-column {
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: space-between;
  justify-self: flex-start;
  justify-self: flex-end;
  margin-top: 2rem;
}

.footer-logo {
  height: 5.6rem;
  width: 16rem;
  margin-left: 1.2rem;
}

.footer-title {
  text-align: center;
}

.copyright,
.footer-info {
  text-align: center;
  font-size: 1.4rem;
}
