@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .main-nav-list {
    margin-right: 0;
    padding-right: 7rem;
  }

  .hero-container {
    right: 33%;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .main-nav-list {
    padding-right: 1rem;
  }
  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 14rem;
    margin-top: 7rem;
    margin-right: 15rem;
  }

  .hero-text {
    align-self: center;
  }

  .hero-cards {
    display: grid;
    row-gap: 0;
    grid-gap: 2rem;
    grid-template-columns: 2;
    grid-template-rows: 2;
    margin-right: 10rem;
  }
  .hero-card {
    font-size: 1.4rem;
    height: 15rem;
    width: 15rem;
  }
  .card-one {
    grid-column: 1;
    grid-row: 1;
    margin-left: 5rem;
  }

  .card-two {
    grid-column: 2;
    grid-row: 1;
  }

  .card-three {
    grid-column: 1;
    grid-row: 2;
    margin-left: 5rem;
  }

  .card-four {
    grid-column: 2;
    grid-row: 2;
  }

  .card-one,
  .card-two,
  .card-three,
  .card-four {
    align-self: center;
    justify-self: center;
  }

  .hero-icon {
    margin-top: 2.4rem;
    margin-bottom: 0.6rem;
    height: 3.5rem;
    width: 3.5rem;
    stroke: #333;
  }

  .card-title {
    font-size: 2rem;
    color: #333;
  }

  .background {
    padding-bottom: 15rem;
    background-size: 100%;
    overflow: visible;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    transform: scale(100%);
  }

  .custom-builds-text {
    margin: auto;
    display: block;
    width: 75%;
    height: auto;
  }
}

@media (max-width: 53.75em) {
  html {
    font-size: 50%;
  }

  .background {
    background: url(/img/background-mobile-2.svg);
    padding-bottom: 20rem;
    background-size: 100%;
    overflow: visible;
    background-repeat: no-repeat;
    z-index: 1;
    /* position: absolute;
    top: 0;
    left: 0; */
  }

  a {
    z-index: 100;
  }

  .main-nav {
    display: none;
  }

  .header {
    justify-content: flex-end;
  }

  .logo-header {
    margin-right: 1.6rem;
  }

  .hero-container {
    display: block;
    margin-right: 0;
  }

  .hero-text {
    margin-bottom: 8.2rem;
  }

  .hero-cards {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .hero-cards {
    margin-right: 0;
  }

  .hero-card {
    box-shadow: -10px 5px 10px 2px rgba(83, 152, 184, 0.333);
    font-size: 2rem;
    text-align: center;
    display: flex;
    /* gap: 4rem; */
    border-radius: 3rem;
    overflow: hidden;
    height: 10rem;
    width: 40rem;
    transition: all 0.3s;
  }

  .card-one,
  .card-two,
  .card-three,
  .card-four {
    gap: 1.6rem;
  }

  .card-one {
    grid-column: 1;
    grid-row: 1;
    margin-left: 0;
  }
  .card-three {
    grid-column: 1;
    grid-row: 2;
    margin-left: 0;
  }

  .hero-icon {
    margin: 2.4rem 0 0.6rem 1.4rem;
    height: 5rem;
    width: 5rem;
    stroke: #333;
  }

  .card-title {
    align-self: center;
    font-size: 2.8rem;
    color: #333;
  }

  .line-break {
    display: none;
  }
  .and {
    font-style: normal;
    font-weight: 700;
    color: #333;
  }

  .Y {
    text-transform: lowercase;
  }

  .section-home-security {
    display: block;
    margin: 0 auto;
    margin-bottom: 8rem;
  }

  .home-security-text {
    width: 75%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .home-security-title {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  .home-security-paragraph {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .home-security-image-box {
    margin: 0 auto;
    width: 75vw;
    overflow-y: hidden;
    overflow-x: auto;
    border-radius: 2rem;
  }

  .home-security-image {
    object-fit: cover;
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .section-business-surveillance {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    margin-bottom: 8rem;
  }

  .business-surveillance-text {
    width: 75%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .business-surveillance-title {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  .business-surveillance-paragraph {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .business-surveillance-image-box {
    margin: 0 auto;
    width: 75vw;
    height: 40vh;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 2rem;
    margin-bottom: 4rem;
    /* position: relative; */
  }

  .business-surveillance-image {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
  }

  .carousel {
    justify-self: center;
    align-self: center;
    width: 75vw;
    height: 40vh;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
  }

  .container-custom-builds {
    height: 50vh;
    margin-bottom: 8rem;
    /* flex-direction: column; */
  }

  .custom-builds-images {
    gap: 1rem;
  }

  .animated:nth-child(1) {
    width: 25%;
    height: 25%;
    padding-bottom: 40rem;
  }

  .animated:nth-child(2) {
    width: 33%;
    height: 33%;
  }

  .animated:nth-child(3) {
    width: 30%;
    height: 30%;
    padding-top: 40rem;
  }

  .cyber-security-icon-container {
    column-gap: 2.8rem;
  }

  .section-contact {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 14rem;
  }

  .contact-text-box {
    padding: 4rem;
  }

  .contact-form {
    display: block;
    grid-template-columns: 1fr 1fr;
  }

  input {
    margin-bottom: 2rem;
  }

  .btn-contact {
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 2rem;
  }

  .footer-container {
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: space-around;
    border-top: 0.3rem solid rgba(93, 199, 248, 0.457);
    padding: 0.8rem 4rem 2rem 4rem;
  }
}
